<nav class="navbar navbar-expand-sm navbar-dark bg-primary">
    <div class="container">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand">Kurs Uygulaması</a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Index" class="nav-link">Anasayfa</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Course" asp-action="List" class="nav-link">Kurs Listesi</a>
            </li>
            <li class="nav-item">
                <a asp-controller="Home" asp-action="Contact" class="nav-link">İletişim</a>
            </li>
        </ul>
    </div>
</nav>